*{
    color: #2b1f22;
}
body {
    font-family: "Lucida Bright", serif;
    margin: 0;
    padding: 0;
    background-color: #b59998;
    border: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: #fff;
    padding: 0 100px 0 30px;
    text-align: center;

    & h2 {
        /* When three values are specified, the first padding applies to the top,
        the second to the right and left, the third to the bottom */
        padding: 30px 50px 0 0;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        white-space: nowrap;

        & a {
            color: #fa0542;
            text-decoration: none;

            &:hover {
                text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.7);
            }
        }

    }
    & div{
        display: flex;
        justify-content: left;
        padding: 0 0 0 50px;

        & img{
            max-width: 15%;
            height: auto;
        }
    }
}

#home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & div{
        text-align: center;
    }
}

button{
    border: 0;
    border-radius: 4px;
    padding: 5px 8px 5px;
    background-color: #fa0542;
    color: #ddd;
    margin-top: 15px;

    &:hover{
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    &:active{
        background-color: #fc4774;
    }
}
select{
    border: 0;
    border-radius: 4px;
    background-color: #fa0542;
    color: #ddd;
    padding: 2px 5px 4px;

    &:hover {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    & option{
        background-color: #fa0542;
        color: white;
    }
}
input{
    border: 1px solid #fa0542;
    border-radius: 4px;
    background-color: #ccb6b6;

    &:hover {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

hr {
    color: #fa0542;
    margin: 0 20px 0;
}

#game-list {
    margin-top: 0;

    & li {
        list-style: none;
        padding-bottom: 15px;

        & a {
            text-decoration: none;

            &:hover {
                color: #fa0542;
                text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
            }
        }
    }
}

#search-section{
    display: flex;
    justify-content: center;

    & div {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;

        & hr{
            height: 1%;
            width: 10%;
        }
        & label{
            padding: 0 5px 0 15px;
        }
    }
}
#games-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-profile {
    display: flex;
    justify-content: center;
}

#user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lists{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#lists div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lists li{
    list-style: none;
    padding-bottom: 15px;

    & a {
        text-decoration: none;

        &:hover {
            color: #fa0542;
            text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
        }
    }
}

#lists-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#lists-div hr{
    height: 1%;
    width: 10%;
}

#game-title{
    display: flex;
    flex-direction: column;

}

#user-registration{
    display: flex;
    justify-content: center;
    flex-direction: column;

    & div{
        display: flex;
        align-items: center;
        flex-direction: column;

        & label{
            padding-right: 5px;
        }
    }
    & #username-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;
    }
    & #password-div{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}
#login-section{
    display: flex;
    justify-content: center;
    flex-direction: column;

    & div{
        display: flex;
        align-items: center;
        flex-direction: column;

        & label{
            padding-right: 5px;
        }
    }
    & #login-username-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;
    }
    & #login-password-div{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    & #login-buttons-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & button{
            margin: 20px 0 0;
        }
    }
}
#game-details-section div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
